# Input fields
forcing
input

# Default experiment
exp/cnyf2-sw1/cnyf2-sw1.[oe]*
exp/cnyf2-sw1/cnyf2-sw1.date
exp/cnyf2-sw1/cnyf2-sw1.log
exp/cnyf2-sw1/Running.dir
exp/cnyf2-sw1/.swp

# Binaries
bin/oasis3_MPI?.*
bin/cice_MPI?.*
bin/matm_MPI?.*
bin/mom4_MPI?.*
bin/mppnccombine.*
bin/calendar.*
!bin/calender.F90

# Object Code
submodels/oasis3/prism/Linux/
submodels/oasis3/prism/compile/COMP.err
submodels/oasis3/prism/compile/COMP.log
submodels/cice4.1/compile/build_MPI1_6p
submodels/matm/compile/build_MPI1_nt62/
submodels/mom4p1/compile/build_MPI1/
